{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главная страница</title>

    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hTree/CSS/jHTree.css' %}">
    {% block css %}{% endblock %}

</head>
<body>
    <div id="wrapper">
        <header>
            <!--  -->
        </header>
        <main>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer>
            <!--  -->
        </footer>
    </div>
    <script src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/hTree/js/jQuery.jHTree.js' %}"></script>

    {% block js %}{% endblock %}

</body>
</html>
